* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  padding: 1rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.main {
  display: grid;
  grid-template-areas: "image details";
  min-height: 30rem;
  grid-template-columns: 60% 39%;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.image {
  grid-area: image;

  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    "img1 img2"
    "img3 img4";

  grid-gap: 0.5rem;
  &-img1 {
    overflow: hidden;
    height: 100%;

    &-child {
      height: 100%;
      width: 100%;
      background-image: url(../musician.jpg);
      background-size: cover;
      background-position: center;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &-img2 {
    overflow: hidden;
    height: 100%;

    &-child {
      height: 100%;
      width: 100%;
      background-image: url(../music2.jpg);
      background-size: cover;
      background-position: center;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &-img3 {
    overflow: hidden;
    height: 100%;

    &-child {
      height: 100%;
      width: 100%;
      background-image: url(../musician3.jpg);
      background-size: cover;
      background-position: center;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &-img4 {
    overflow: hidden;
    height: 100%;

    &-child {
      height: 100%;
      width: 100%;
      background-image: url(../musician4.jpg.jpg);
      background-size: cover;
      background-position: center;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.details {
  grid-area: details;
  padding: 2rem;

  border-left: 2px solid rgb(245, 134, 52);
  //  box-shadow: 0 1rem 3rem rgb(59, 48, 31);
  // background-image: linear-gradient(
  //   to right bottom,
  //   rgba(255, 153, 0, 0.664),
  //   rgba(255, 153, 0, 0.822)
  // );
  &-heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
    &:after {
      content: " ";
      top: 100%;
      left: 0%;
      width: 80%;
      position: absolute;
      height: 2px;
      background-color: rgb(245, 134, 52);
    }
  }

  &-price {
    font-size: 1.9rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-transform: uppercase;
    &_caption {
      display: block;
      font-size: 1rem;
      text-transform: lowercase;
      color: rgb(245, 134, 52);
    }
  }

  &-description {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    &_heading {
      display: block;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
  }
  &-bestoffers {
    text-transform: uppercase;
    font-size: 1rem;
  }

  &-bestoffers-caption {
    font-size: 0.8rem;
  }

  &-100 {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }

  &-btn {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 1rem;
      display: inline-block;
      background-color: rgb(245, 134, 52);
      border: 0;
      box-shadow: 0 1rem 2rem black;
      padding: 12px;
      border-radius: 5px;
      color: white;
      text-transform: uppercase;
      transition: all 0.2s;
      margin-bottom: 2rem;
    }
    &:hover {
      transform: translateY(-5px);
    }
    &:active {
      transform: translateY(-3px);
    }
  }
}

.reviews {
  display: grid;
  grid-template-areas: "reviews-main";
  padding: 2rem;
  grid-template-columns: 1fr;
  &-main {
    grid-area: reviews-main;
    &-heading {
      text-align: center;
      font-size: 2rem;
      color: rgb(245, 134, 52);
      margin-bottom: 1rem;
    }
    &-one-img-child {
      background-image: url(../man.jpg);
    }

    &-two-img-child {
      background-image: url(../man2.jpg);
    }
    &-three-img-child {
      background-image: url(../man3.jpg);
    }

    &-one,
    &-two,
    &-three {
      margin: 2% 5%;
      border-radius: 1rem;
      padding: 1rem;
      background-color: white;
      display: grid;
      grid-gap: 1rem;
      grid-template-areas: "image details";
      grid-template-columns: 15% 90%;
      align-items: center;
      overflow: hidden;
      &-img {
        grid-area: image;
        transform: skew(5deg);
        display: inline-block;
        overflow: hidden;
        height: 8rem;
        width: 8rem;
        border-radius: 100px;

        &-child {
          height: 100%;
          background-size: cover;
          background-position: center;
          transition: all 0.2s;
        }

        &:hover &-child {
          transform: scale(1.2);
        }
      }

      &-head {
        grid-area: details;
        padding: 1rem 4rem 1rem 1rem;
        &-heading {
          position: relative;
          text-transform: uppercase;
          font-size: 1.5rem;
          margin-bottom: 1rem;
          &:after {
            content: " ";
            position: absolute;
            height: 2px;
            width: 30%;
            background-color: rgb(245, 134, 52);
            bottom: 0;
            left: 0;
          }
          transform: skew(3deg);
        }
        &-details {
          font-size: 1rem;
          transform: skew(3deg);
        }
      }
      transform: skew(-3deg);
      box-shadow: 0 0.5rem 3rem black;
    }
  }
}

.checked {
  color: rgb(245, 134, 52);
}

.similarProducts {
  display: grid;
  grid-template-areas: "one two three four";
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 2rem;
  transition: all 0.2s;
  &-one {
    grid-area: one;
    &-img {
      width: 100%;
      height: 15rem;
      background-image: url(../musician.jpg);
      background-size: cover;
      background-position: center;
      border-bottom: 2px solid rgb(245, 134, 52);
      border-radius: 5px;
    }
  }
  &-two {
    grid-area: two;
    &-img {
      width: 100%;
      height: 15rem;
      background-image: url(../music2.jpg);
      background-size: cover;
      background-position: center;
      border-bottom: 2px solid rgb(245, 134, 52);
      border-radius: 5px;
    }
  }
  &-three {
    grid-area: three;
    &-img {
      width: 100%;
      height: 15rem;
      background-image: url(../musician3.jpg);
      background-size: cover;
      background-position: center;
      border-bottom: 2px solid rgb(245, 134, 52);
      border-radius: 5px;
    }
  }
  &-four {
    grid-area: four;
    &-img {
      width: 100%;
      height: 15rem;
      background-image: url(../musician4.jpg.jpg);
      background-size: cover;
      background-position: center;
      border-bottom: 2px solid rgb(245, 134, 52);
      border-radius: 5px;
    }
  }
  &-one,
  &-two,
  &-three,
  &-four {
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
    padding: 5px;
    box-shadow: 0 1rem 3rem black;
    &:hover {
      transform: translateY(-5px);
    }
  }

  &-heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: rgb(245, 134, 52);
  }
  &-details {
    font-size: 0.8rem;
    margin-bottom: 6px;
  }
  &-rating {
    font-size: 1rem;
  }
}

.footer {
  width: 100%;
  height: 8rem;
  background-color: black;
  text-align: center;
  color: whitesmoke;
  font-size: 2rem;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .main {
    grid-template-areas:
      " image image"
      " details details";
    grid-template-rows: 1fr 1fr;
  }

  .reviews-main-one {
    grid-template-areas:
      "image image"
      " details details";
    grid-template-rows: 2fr 4fr;
  }
  .reviews-main-two {
    grid-template-areas:
      "image image"
      " details details";
    grid-template-rows: 2fr 4fr;
  }
  .reviews-main-three {
    grid-template-areas:
      "image image"
      " details details";
    grid-template-rows: 2fr 4fr;
  }
  .similarProducts {
    grid-template-areas:
      "one"
      "two"
      "three"
      "four";
    grid-template-columns: 50%;
    justify-content: center;
  }

  .details {
    text-align: center;
    border-right: 2px solid #f58634;
    &-heading {
      &:after {
        left: 10%;
      }
    }
    &-description {
      text-align: left;
      &_heading {
        text-align: center;
      }
    }
  }
}

@media (max-width: 425px) {
  .similarProducts {
    grid-template-areas:
      "one"
      "two"
      "three"
      "four";
    grid-template-columns: 80%;
    justify-content: center;
  }
  .details {
    &-description {
      text-align: center;
      &_heading {
        text-align: center;
      }
    }
  }
  .reviews-main-one {
    grid-template-areas:
      "image image"
      " details details";
    grid-template-rows: 20% 80%;
    grid-gap: 0rem;
  }
  .reviews-main-two {
    grid-template-areas:
      "image image"
      " details details";
    grid-template-rows: 20% 80%;
    grid-gap: 0rem;
  }
  .reviews-main-three {
    grid-template-areas:
      "image image"
      " details details";
    grid-template-rows: 20% 80%;
    grid-gap: 0rem;
  }
}
